
$c-primary-text: #000000D9;
$c-secondary-text: #00000073;
$c-danger-text: #FF4D4F;
$c-disabled-text: #00000040;
$c-warning-text: #FAAD14;
$c-mark-text: #000000;

$c-primary: #1B6A52;
$c-primary-hovered: #40826E;
$c-primary-pressed: #175945;
$c-primary-disabled: #649A8A;

$c-secondary: #D9B665;
$c-secondary-hovered: #DDC07C;
$c-secondary-pressed: #B99C58;

$c-gray-700: #212121;
$c-gray-600: #262626;
$c-gray-500: #2a2a2a;
$c-gray-400: #373737;
$c-gray-300: #575757;
$c-gray-200: #878787;
$c-gray-100: #B8B8B8;
$c-gray-50: #E0E0E0;
